<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planting</title>

    <link href="/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="bg-white p-4 rounded shadow text-center" style="width: 300px;">
            <img width="200px" height="200px" src="plantingLogov2.png">
            <h5>Welcome to Grow Apples</h5>
            <div class="card mt-2">
                <a href="login" class="btn btn-success">Start Planting</a>
            </div>
        </div>
      </div>
</body>
</html>